
<%= google_sign_in_button 'Sign in with my Google account', proceed_to: login_url %>

<%= form_with(model: user) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div id="error">
  <% if user.errors.any? %>
    <i class="fa-solid fa-circle-exclamation"></i><span id="error_explanation">
        <% user.errors.each do |error| %>
          <span><%= error.full_message %></span>.
        <% end %>
    </span>
  <% end %>
  </div>

  <div class="actions"></div>
     <input type="submit" value="Sign up"/>
  </div>
<% end %>
