<%= render "header"%>
<header class="header">
    <nav>
        <div class="logo_div">
          <a href="/home"><%= image_tag("quest_logo.png") %></a>
        </div>
        <div class="filter_div">
          <form action="/game">
            <input type="text" name="game[pin]" id="pin" placeholder="PIN" required>
            <button type="submit" class="game"><em class="fa-solid fa-gamepad"></em> Game</button>
          </form>
        </div>
        <div class="option_div">
          <%if current_user%>
            <button class="create"  onclick="create()"><em class="fa-solid fa-plus"></em> Quest</button>
            <button class="profile" id ="profile" onclick="profile_show()">
              <% if current_user.profile_pic.attached? %>
                <%= image_tag(current_user.profile_pic) %>
              <% else %>
                <em class="fa-solid fa-user"></em>
              <% end %>
            </button>
          <%else%>
            <%= link_to '<button><i class="fa-solid fa-plus"></i>Quest</button>'.html_safe, login_path, :class=>"create" %>
            <%= link_to '<button><i class="fa-solid fa-user"></i></button>'.html_safe, login_path, :class=>"profile" %>
          <%end%>
        </div>
    </nav>
</header>
<%if current_user%>
<div class="ass_alert" id="ass_alert">
  <div class="ass_error">
    <h4>Title is already exist<em class="fa-solid fa-circle-exclamation"></em></h4>
    <button onclick="alertclose()">Ok</button>
  </div>
</div>
<div class="create_form display" id="create_form">
  <form action="/game_create">
    <input type="text" name="game[title]" id="title" placeholder="Game title" required onchange="check()">
    <select name="game[time]" required>
      <option value="0.5" selected>00:30 min</option>
      <option value="1">01:00 min</option>
    </select>
    <select disabled name="game[result]" required>
      <option>Result visibility</option>
      <option value="hidden">Hidden</option>
      <option value="visible">Visible</option>
    </select>
    <button type="submit">Create</button>
  </form>
</div>

<%if !@usersgame.present?%>
<div class="assmain_div">
  <h3><i class="fa-solid fa-circle-exclamation"></i> Yet to create assessment <span onclick="create()" style="cursor: pointer; color: #2a83e8;"> click here </span> to create assessment</h3>
</div>
    
<%else%>
<div class="ass_main" id="ass_main">
  <% @usersgame.each do |game|%>
  <div class="ass_que">
    <div class="que_detial">
      <%if game.status == "0"%>
        <a href="/question/<%=game.title%>" class="add_que"></a>
      <%end%>

      <div class="queinfo_div">
        <h2><%=game.title%></h2>
        <div class="pin_div_show">
          <% if game.status == "1"%>
            <input type="text" name="pin" class="que_pin" value="<%=game.pin%>" disabled>
          <%else%>
            <input type="password" name="pin" class="que_pin" value="<%=game.pin%>" disabled>
          <%end%>
        </div>
      </div>

      <div class="que_btn">
        <% if game.status == "0"%>
          <a href="start/<%=game.title%>" class="start_btn" id="start_btn">Start</a>
        <%else%>
          <a href="stop/<%=game.title%>" class="stop_btn" id="stop_btn">Stop</a>
        <%end%>
      </div>

      <%if game.status == "0"%>
        <div class="preview_btn"><em class="fa-solid fa-ellipsis-vertical"></em></div>
      <%end%>
    </div>
  </div>
  <%end%>
</div>
  <%end%>

<%if current_user%>
  <%= render "profile"%>
<%end%>

<style>
    .main_menu .assessment_btn{
    background-color: #fffdf5;
    color: #2A83E8;
    }
</style>

<script>

<%if alert != nil %>
   document.getElementById("ass_alert").style.display = "flex"
<%end%>

function alertclose(){
  document.getElementById("ass_alert").style.display = "none"
  window.location.href = "/assessment"
}

  let len = <%=@usersgame.length%>

  for(let i=0; i<len; i++){
    document.getElementsByClassName("preview_btn")[i].onclick = function(){
      if (document.getElementsByClassName("preview_btn")[i].style.backgroundColor == "rgb(244, 243, 243)") {
        document.getElementsByClassName("preview_btn")[i].style.backgroundColor = "#fff";
      }
      else {
      document.getElementsByClassName("preview_btn")[i].style.backgroundColor = "rgb(244, 243, 243)"
        if(i==0){
          for (let o =(i+1); o<len; o++) {
            document.getElementsByClassName("preview_btn")[o].style.backgroundColor = "#fff";
          }
        }else{
          for (let q = (i-1); q >= 0; q--) {
            document.getElementsByClassName("preview_btn")[q].style.backgroundColor = "#fff";
          }
          for (let o =(i+1); o<len; o++) {
            document.getElementsByClassName("preview_btn")[o].style.backgroundColor = "#fff";
          }
        }
      }
    }
  }

  function create(){
    document.getElementById('create_form').classList.toggle("display");
  }
</script>

<%end%>