<%= render "header"%>
<header class="header">
    <nav>
        <div class="logo_div">
            <%= image_tag("quest_logo.png") %>
        </div>
        <div class="filter_div">
            <h2>
                <span><%= @greets %></span>
                <span><%= current_user.name %></span>
            </h2>
        </div>
        <div class="option_div">
            <%if current_user%>
            <%= link_to '<button><i class="fa-solid fa-plus"></i></button>'.html_safe, login_path, :class=>"like" %>
            <button class="notifi"><span class="notifi_count">1</span><i class="fa-solid fa-bell"></i></button>
            <button class="profile" id ="profile" onclick="profile_show()">
                      <% if current_user.profile_pic.attached? %>
    <%= image_tag(current_user.profile_pic) %>
    <% else %>
    <i class="fa-solid fa-user"></i>
  <% end %>
            </button>
    <%else%>
            <%= link_to '<button><i class="fa-solid fa-plus"></i></button>'.html_safe, login_path, :class=>"like" %>
            <%= link_to '<button><i class="fa-solid fa-bell"></i></button>'.html_safe, login_path, :class=>"notifi" %>
            <%= link_to '<button><i class="fa-solid fa-user"></i></button>'.html_safe, login_path, :class=>"profile" %>
    <%end%>
            
        </div>
        

    </nav>
</header>

<div class="report_btns">
        <button id="ass_rep_btn" onclick="assRepShow()">
            Assessment Reports
            <div class="btn_lines" id="ass_rep_lin"></div>
        </button>
        <button id="rep_btn" onclick="repShow()">
            Reports
            <div class="btn_lines" id="rep_lin"></div>
        </button>
</div>
<div class="das_main">
    <div class="report_div">
        <div class="show_report">
            <div class="question_report">
                <div class="qreport">
                    <div class="rep_con">
                        <%=@ques.length%>
                    </div>
                    <div class="rep_text">
                        Questions
                    </div>
                </div>
            </div>
            <div class="paticipate_div">
                <div class="preport">
                    <div class="rep_con">
                        <%=@pat.length%>
                    </div>
                    <div class="rep_text">
                        Participants
                    </div>
                </div>
            </div>
            <div class="ass_count_div">
                <div class="ass_count_rep">
                    <div class="rep_con">
                        <%=@usersgame.length%>
                    </div>
                    <div class="rep_text">
                        Assessments
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ass_report_for">
            <div class="ass_rep_title">
                <%if params[:title] != nil%>
                Assessment repost for <%=params[:title]%>
                <%else%>
                Assessment repost for <%=@usersgame.last.title%>
                <%end%>
            </div>
            <div class="show_questions">
                <div class="que_rep_pa"></div>
            </div>
        </div>
    </div>
    <div class="name_list_div">
        <div class="list_ass_main" id="list_ass_main">
            <%@usersgame.each do |games|%>
            <a href="/dashbord/<%=games.title%>" class="das_profile_user" id="<%=games.title%>">
                <h3><%=games.title%></h3>
                <div class="ass_profile">
                    <%=Question.where(game_id: games.id, user_id: current_user).length%>
                </div>
            </a>
            <%end%>
        </div>
        <div class="list_div_main">
            <div class="das_profile_user">
                <div class="das_user_profile"></div>
                <div class="pa_text">
                <h4>Prasanna venkatesh</h4>
                <h5>Answer: Prasanna</h5>
                </div>
            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
            <div class="das_profile_user">

            </div>
        </div>
    </div>
</div>

<%if current_user%>
  <%= render "profile"%>
<%end%>

<style>
    .main_menu .dashbord_btn{
    background-color: #fffdf5;
    color: #2A83E8;
    }
</style>


<script>
    function assRepShow(){
       document.getElementById("ass_rep_lin").style.width = "50%"
       document.getElementById("rep_lin").style.width = "0%"
       document.getElementById("ass_rep_btn").style.color = "#2a83e8"
       document.getElementById("rep_btn").style.color = "#000"
    }

    function repShow(){
       document.getElementById("ass_rep_lin").style.width = "0%"
       document.getElementById("rep_lin").style.width = "50%"
       document.getElementById("ass_rep_btn").style.color = "#000"
       document.getElementById("rep_btn").style.color = "#2a83e8"
    }

    function latestAss(){
        <%if params[:title] != nil%>
        document.getElementById("<%=params[:title]%>").style.backgroundColor ="#2a83e8";
        document.getElementById("<%=params[:title]%>").style.color ="#fff";
        <%else%>
        document.getElementById("<%=@usersgame.last.title%>").style.backgroundColor ="#2a83e8";
        document.getElementById("<%=@usersgame.last.title%>").style.color ="#fff";
        <%end%>
        }

    latestAss();
</script>