<header class="header">
    <nav>
        <div class="logo_div">
            <%= image_tag("quest_logo.png") %>
        </div>
        <div class="filter_div">
        </div>
        <div class="option_div">
            <%if current_user%>
            <%= link_to '<button><i class="fa-solid fa-plus"></i></button>'.html_safe, login_path, :class=>"like" %>
            <button class="notifi"><span class="notifi_count">1</span><em class="fa-solid fa-bell"></em></button>
            <button class="profile" id ="profile" onclick="profile_show()">
                      <% if current_user.profile_pic.attached? %>
    <%= image_tag(current_user.profile_pic) %>
    <% else %>
    <em class="fa-solid fa-user"></em>
  <% end %>
            </button>
    <%else%>
            <%= link_to '<button><i class="fa-solid fa-plus"></i></button>'.html_safe, login_path, :class=>"like" %>
            <%= link_to '<button><i class="fa-solid fa-bell"></i></button>'.html_safe, login_path, :class=>"notifi" %>
            <%= link_to '<button><i class="fa-solid fa-user"></i></button>'.html_safe, login_path, :class=>"profile" %>
    <%end%>
            
        </div>
        

    </nav>
</header>
<%= render "header"%>

    <%if current_user%>
<%= render "profile"%>
<%end%>
<div class="assmain_div">
  <h3><i class="fa-solid fa-laptop-code"></i> Work in progress..</h3>
</div>

<style>
    .main_menu .interview_btn{
    background-color: #fffdf5;
    color: #2A83E8;
    }
</style>